.card-container {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20%;
    color: #fff;
    .picture {
        opacity: 1 !important;
        width: 150px;
        height: 300px;
    }
}

.card-item-enter {
    background-color: rgba(0, 0, 0, 0);
    .col:not(.picture) {
        opacity: 0;
    }
}

.card-item-enter-active {
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1000ms ease-in-out;
    .col:not(.picture) {
        opacity: 1;
        transition: all 1000ms ease-in-out;
    }
    .picture {
        width: 225px;
        height: 450px;
        //transition: all 3000ms ease-in-out;
    }
}

.card-item-enter-done {
    background-color: rgba(0, 0, 0, 0.9);
    .col:not(.picture) {
        opacity: 1;
    }
    .picture {
        width: 225px;
        height: 450px;
    }
}

.card-item-exit {
    background-color: rgba(0, 0, 0, 0.9);
    .col:not(.picture) {
        opacity: 1;
    }
    .picture {
    //    left: 0 !important;
    //    top: 0 !important;
        width: 225px;
        height: 450px;
    }
}

.card-item-exit-active {
    background-color: rgba(0, 0, 0, 0);
    transition: all 1000ms ease-in-out;
    .col:not(.picture) {
        opacity: 0;
        transition: all 1000ms ease-in-out 1000ms;
    }
    .picture {
    //    left: auto !important;
    //    top: auto !important;
        width: 150px;
        height: 300px;
        transition: all 3000ms ease-in-out;
    }
}

.card-item-exit-done {
    background-color: rgba(0, 0, 0, 0);
    .col:not(.picture) {
        opacity: 0;
    }
    .picture {
    //    left: auto !important;
    //    top: auto !important;
        width: 150px;
        height: 300px;
    }
}
