.slider-container {
  .slick-slider,
  .slick-list,
  .slick-track {
    overflow: visible;
  }
}

.arrow-btn {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 15px 0 #777777;
  line-height: 20px;
  margin: 20px 10px;
  padding: 0 5px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &.btn-prev {
    margin-left: 10%;
  }
}
.dot {
  border-radius: 50%;
  color: #777777;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
}
