.fake-slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  .fake-slider-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    scroll-behavior: smooth;
    & > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
